<div class="my-profile-page page">
  <app-header></app-header>

  <div class="container">
    <h2 class="form-login-heading">My Profile</h2>

    <app-profile [user]="user | async" [profileAction]="updateProfileRef" [isMine]="true"></app-profile>
  </div>

  <app-footer></app-footer>
</div>
