<div class="category-page page">
  <app-header></app-header>

  <div class="container container-content">

    <br>
    <a *ngIf="authService.isManager.value" [routerLink]="['/manage-product/category/new-product', category.id]" class="btn btn-success">Add new Product</a>

    <app-category [category]="category"></app-category>
  </div>

  <app-footer></app-footer>
</div>
