@import '../../../../styles/index'

$link-color: $gray-800
$item-hover: $gray-800
$link-color-hover: $white

.categories-menu
  nav
    @extend .navbar
    @extend .navbar-dark
    @extend .bg-primary

    padding: 0

    ul
      @extend .navbar-nav
      padding: 5px 5px 0 5px

      margin: 0
      flex-direction: row

      li
        @extend .nav-item

        &:hover
          background-color: $item-hover

          a, span
            color: $link-color-hover

          ul
            display: block

        a, span
          @extend .nav-link
          padding: 10px 20px
          color: $link-color

        ul
          @include no-spacing()
          display: none

          position: absolute
          z-index: 2
          background: $link-color-hover
          border-left: 4px solid $item-hover
          border-bottom: 2px solid $item-hover
          background: #ccc

          li
            a
              color: $link-color

              &:hover
                color: $link-color-hover



