<div class="categories-menu">
  <nav>
    <ul>
      <ng-container *ngFor="let mainCategory of mainCategories">
      <li>
        <span>{{mainCategory.name}}</span>
        <ul>
          <ng-container *ngFor="let category of getChildrenOfCategory(mainCategory);">
            <li routerLinkActive="active"><a routerLink="/category/{{category.id}}">{{category.name}}</a></li>
          </ng-container>
        </ul>
      </li>
      </ng-container>
    </ul>
  </nav>
</div>
