@import '../../../../styles/index'

.orders
  ul.orders-list
    list-style-position: inside
    list-style-type: decimal
    @include no-spacing()

    li
      ul.products-list
        //@include no-spacing()
        //list-style: inside
        list-style-position: outside

      .options
        padding: 10px

        @include flex-row()
        justify-content: space-between

