<div class="orders">
  <p *ngIf="!orders | async">You have no orders yet.</p>

  <ul class="orders-list" *ngIf="orders | async">
    <div class="alert" *ngIf="formAlert.message" [ngClass]="formAlert.getClassName()">{{formAlert.message}}</div>

    <ng-container *ngFor="let order of orders | async">
      <li *ngIf="usersService.getUserAttrById(order.userId, 'username') | async">
        <div><b>Client's Name</b>: {{usersService.getUserAttrById(order.userId, 'name') | async}}</div>
        <div><b>Email</b>: <a [routerLink]="['/user', order.userId]">{{usersService.getUserAttrById(order.userId,
          'username') | async}}</a></div>
        <div>
          <b>Products:</b>
          <ul class="products-list">
            <li *ngFor="let product of order.items">
              <div><b>Product Name</b>: {{productsService.getProductAttrById(product.productId, 'name') | async }}
                (<b>${{productsService.getProductAttrById(product.productId, 'price') | async }}</b>)
              </div>
              <app-cart-item [product]="product" (onRemoveFromCart)="removeProduct(order, $event)"></app-cart-item>
            </li>
          </ul>

          <div>
            <div><b>Status:</b></div>
            <textarea *ngIf="authService.isOnlyManager.value" class="form-control" rows="3" [ngModel]="order.status"
                      (ngModelChange)="order.status = $event"></textarea>
            <div *ngIf="!authService.isOnlyManager.value">{{order.status}}</div>
          </div>

        </div>

        <div class="options">
          <button *ngIf="authService.isOnlyManager.value" class="btn btn-success" (click)="updateOrder(order)"
                  [disabled]="formAlert.loading">{{(formAlert.loading) ? 'loading...' : 'Save'}}
          </button>
          <button *ngIf="authService.isAdministrator.value" class="btn btn-danger" (click)="cancelOrder(order)">
            Cancel
          </button>
        </div>

        <hr>
      </li>
    </ng-container>
  </ul>
</div>
