<div class="cart">
  <ul *ngIf="products.length">
    <ng-container *ngFor="let productItem of products">
      <li>
        <app-cart-item [product]="productItem" [itemsInCart]="itemsInCart"
                       (onRemoveFromCart)="removeFromCart($event)" [isCartPage]="true"></app-cart-item>
      </li>
    </ng-container>
  </ul>

  <div *ngIf="!products.length">
    <hr>
    <h3>Nothing here =(</h3>
  </div>

  <div *ngIf="products.length">
    <hr>

    <h3>Total</h3>
    Pay: ${{ calculateBill() }}

    <div class="options">
      <div>
        <button class="btn btn-success" (click)="completeOrder()">Complete the Order</button>
      </div>

      <div *ngIf="products.length">
        <button class="btn btn-danger" (click)="clearAllCart()">Clear All</button>
      </div>
    </div>
  </div>
</div>
