<div class="cart-item">
  <p class="name" *ngIf="product.name"><b>Name</b>: {{ product.name }}</p>
  <p class="price" *ngIf="product.price"><b>Price</b>: ${{ product.price }}</p>

  <div class="form-group form-inline">
    <label class="" for="amount-{{product.id}}"><b>Amount</b>:</label> &nbsp;
    <input *ngIf="isCartPage" class="form-inline form-control form-control-sm amount"
           id="amount-{{product.id}}" type="number" min="1" [ngModel]="product.amount || getAmount(product)"
           (ngModelChange)="updateAmount(product, $event)" size="2">

    <span *ngIf="!isCartPage">x{{product.amount}}</span>
  </div>

  <div class="options" *ngIf="isCartPage">
    <a class="btn btn-danger btn-sm" (click)="removeFromCart(product)">Remove</a>
  </div>
</div>
