<div class="category">
  <ul class="products-list">
    <li *ngFor="let product of products">

      <div class="card" style="width: 20rem;">
        <div class="card-img-top-wrapper">
          <img class="card-img-top" src="{{product.image}}" alt="{{product.name}}">
        </div>

        <div class="card-body">
          <h4 class="card-title">{{product.name}}</h4>
          <p class="card-text">{{product.description.substr(0,99)}}</p>

          <div class="options">
            <button class="btn btn-primary" (click)="addToCart(product)">Add to Cart</button>
            <a *ngIf="authService.isManager.value" class="btn btn-success add-to-cart"
               [routerLink]="['/manage-product/product', product.id, 'edit']">Edit</a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

