@import '../../../../styles/index'

.category

  ul.products-list
    list-style: none
    @include no-spacing()
    @include flex-row()
    flex-wrap: wrap

    li
      margin: 10px
      flex: 1 1 auto

      .card
        margin: 0 auto

      .card-img-top-wrapper
        height: 240px
        display: flex
        flex-direction: row
        align-items: center
        justify-content: center

        img
          max-width: 90%
          max-height: 90%
          width: auto
          height: auto

      .card-text
        height: 72px
        overflow: hidden

      .options
        @include flex-row()
        justify-content: space-between
