<div class="registration-page page">
  <app-header></app-header>

  <div class="container container-content">
    <h2 class="form-login-heading">Registration</h2>

    <div class="registration-section">
      <app-registration></app-registration>

      <app-or-line></app-or-line>

      <div style="margin-top: 30px;">
        <a class="btn btn-primary btn-block" routerLink="/login">Login</a>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
