@import '../../../styles/index'

app-registration-page:host
  display: flex
  width: 100%

.registration-page
  .container
    @extend .container-padding

    .registration-section

      width: 450px
      margin: 0 auto

