<div class="item-preview-small">
  <div class="tag">New</div>
  <a href="#"><img src="#" alt=""></a>
  <a href="#">
    <h3>Electro-Harmonix Deluxe Big Muff Pi</h3>
  </a>
  <p class="price">Price: <b>$300</b></p>
  <a href="#" class="btn btn-primary">Add to Cart</a>
</div>
