<div class="login-page page">
  <app-header></app-header>

  <div class="container container-content">
    <h2 class="form-login-heading">Login</h2>

    <div class="login-section">
      <app-login></app-login>

      <app-or-line></app-or-line>

      <div style="margin-top: 30px;">
        <a class="btn btn-primary btn-block" routerLink="/registration">Create Account</a>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
