@import '../../../styles/index'

app-login-page:host
  width: 100%
  display: flex

.login-page
  .container
    @extend .container-padding

    .login-section
      padding-top: 20px

      width: 320px
      margin: 0 auto

