<header class="header">
  <div class="container">

    <div class="top-block navbar navbar-expand">
      <div class="logo navbar-brand">
        <a routerLink="/"><img src="/assets/images/logo.png" title="Freak Guitar"></a>
      </div>

      <app-user-menu></app-user-menu>
    </div>

    <app-categories-menu></app-categories-menu>
  </div>
</header>
