@import '../../../styles/index'

app-header:host
  width: 100%
  display: flex
  flex: 0 0 auto

.header
  width: 100%

  .container
    padding: 0

  .top-block
    @include flex-row()

    .logo
      display: flex

