.or-line
  .horizontalRow
    font-style: normal
    list-style-image: none
    list-style-position: outside
    list-style-type: none
    margin-bottom: 30px
    margin-top: 43px
    position: relative

    .horizontalText
      color: #CCC
      font-style: normal
      list-style-image: none
      list-style-position: outside
      list-style-type: none
      overflow: hidden
      position: relative
      text-align: center
      z-index: 1

      &::before
        margin-left: -52%
        text-align: right

      &::after
        margin-left: 10px

      &::before, &::after
        width: 49%
        top: 51%
        overflow: hidden
        height: 1px
        background-color: #CCC
        content: '\a0'
        position: absolute
