@mixin no-spacing()
  margin: 0
  padding: 0

@mixin flex-row($flex-properties: 1)
  display: flex
  flex-direction: row
  flex: $flex-properties

@mixin flex-column($flex-properties: 1)
  display: flex
  flex-direction: column
  flex: $flex-properties
