@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$yellow-color: #f4cf40;

$footer-color: $gray-800;
$footer-height: 45px;

$theme-colors: (
  primary: $yellow-color,
  secondary: $gray-600,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800
);

$body-bg: $black;
$body-color: $white;

$container-padding: 10px;
