@import "mixins"
@import "variables"

@import "bootstrap"

@import "variables"

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')

html, body, app-root
  position: relative
  min-height: 100%

  width: 100%
  @include flex-row(1 1 auto)

body
  //margin-bottom: $footer-height

  button, input[type='submit'], input[type='button'], a
    cursor: pointer

  .page
    @include flex-column()

    .container
      flex: 1 1 auto

.container-padding
  padding: 10px 30px

.container-content
  background-color: #fff
  color: #333
  padding-bottom: 60px !important

