<div class="user-page page">
  <app-header></app-header>

  <div class="container">
    <h2>Edit User:</h2>
    <app-profile [user]="user" [profileAction]="updateProfileRef"></app-profile>
  </div>

  <app-footer></app-footer>
</div>
