<div class="newest-items">
  <h2 class="title">Newest Products</h2>
  <ul>
    <li><app-item-preview-small></app-item-preview-small></li>
    <li><app-item-preview-small></app-item-preview-small></li>
    <li><app-item-preview-small></app-item-preview-small></li>
    <li><app-item-preview-small></app-item-preview-small></li>
    <li><app-item-preview-small></app-item-preview-small></li>
    <li><app-item-preview-small></app-item-preview-small></li>
    <li><app-item-preview-small></app-item-preview-small></li>
  </ul>
</div>
