.login
  .form-login
    .form-control
      position: relative
      height: auto
      box-sizing: border-box
      padding: 10px

      &:focus
        z-index: 2

    input[type="email"]
      margin-bottom: -1px
      border-bottom-right-radius: 0
      border-bottom-left-radius: 0

    input[type="password"]
      margin-bottom: 10px
      border-top-left-radius: 0
      border-top-right-radius: 0

