<div class="login">
  <form class="form-login" [formGroup]="loginForm" (ngSubmit)="onSubmit();">
    <div class="alert" *ngIf="formAlert.message" [ngClass]="formAlert.getClassName()">{{formAlert.message}}</div>

    <label for="inputEmail" class="sr-only">Email address</label>
    <input class="form-control" id="inputEmail" name="email" placeholder="Email address" type="email"
           formControlName="username">

    <label for="inputPassword" class="sr-only">Password</label>
    <input class="form-control" id="inputPassword" maxlength="18"
           minlength="6" name="password" placeholder="Password" required="" type="password" formControlName="password">

    <div class="options">
      <input class="btn btn-success btn-lg btn-block" type="submit" value="{{(loading) ? 'loading...' : 'Sign in'}}">
    </div>
  </form>
</div>
