<div class="edit-product">
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">

    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="productName">Name</label>
      <div class="col-sm-10">
        <input class="form-control" id="productName" placeholder="Fender" formControlName="name">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="productCategory">Category</label>
      <div class="col-sm-10">
        {{category.name}}
        <!--<input class="form-control" id="productName" placeholder="Fender" formControlName="name">-->
      </div>
    </div>

    <div class="form-group row">
      <label for="productImage" class="col-sm-2 col-form-label">Image</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="productImage" placeholder="http://" formControlName="image">
      </div>
    </div>

    <div class="form-group row">
      <label for="productPrice" class="col-sm-2 col-form-label">Price</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="productPrice" placeholder="99.99" formControlName="price">
      </div>
    </div>

    <div class="form-group row">
      <label for="productDescription" class="col-sm-2 col-form-label">Description</label>
      <div class="col-sm-10">
        <textarea type="text" class="form-control" id="productDescription" formControlName="description"></textarea>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-2">&nbsp;</div>
      <div class="col-sm-5">
        <input type="submit" class="btn btn-success" value="Submit">
      </div>
      <div class="col-sm-5 text-right">
        <input *ngIf="product.id && authService.isAdministrator.value" type="button" class="btn btn-danger" value="Delete" (click)="onDelete()">
      </div>
    </div>

  </form>
</div>
