<div class="users">
  <ul>
    <ng-container *ngFor="let user of users | async">
      <li *ngIf="!user.disabled && user.id !== authService.uid">
        <a [routerLink]="['/user', user.id]">{{user.username}}</a>
      </li>
    </ng-container>
  </ul>
</div>
