<div class="profile">
  <div class="wrapper">
    <form [formGroup]="myProfileForm" (ngSubmit)="onSubmit()">
      <div class="alert" *ngIf="formAlert.message" [ngClass]="formAlert.getClassName()">{{formAlert.message}}</div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          {{email}}
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="profile-name">Name</label>
        <div class="col-sm-9">
          <input id="profile-name" class="form-control" formControlName="name">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="profile-billingAddress">Billing Address</label>
        <div class="col-sm-9">
          <input id="profile-billingAddress" class="form-control" formControlName="billingAddress">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="profile-shippingAddress">Shipping Address</label>
        <div class="col-sm-9">
          <input id="profile-shippingAddress" class="form-control" formControlName="shippingAddress">
        </div>
      </div>

      <div class="form-group row" *ngIf="!isMine && authService.isAdministrator.value">
        <label class="col-sm-3 col-form-label" for="profile-role">Role</label>
        <div class="col-sm-9">
          <select class="form-control" name="profile-role" id="profile-role" formControlName="role">
            <option value="1">Regular User</option>
            <option value="2">Manager</option>
            <option value="3">Administrator</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3">&nbsp;</div>
        <div class="col-sm-4">
          <input class="btn btn-success" type="submit" value="{{(formAlert.loading) ? 'loading...' : 'Save'}}">
        </div>
        <div class="col-sm-5 text-right">
          <input *ngIf="!isMine" type="button" class="btn btn-danger" value="Delete" (click)="onDelete()">
        </div>
      </div>
    </form>
  </div>
</div>
