<div class="user-menu">
  <nav class="collapse navbar-collapse text-right">
    <ul class="navbar-nav">
      <ng-container *ngIf="!statusAuth">
        <li class="nav-item">
          <a routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a routerLink="/registration">Register</a>
        </li>
      </ng-container>

      <ng-container *ngIf="statusAuth">
        <li class="nav-item">
          <a href="#" (click)="logOut(); false;">Logout</a>
        </li>
      </ng-container>

      <li class="nav-item">
        <a routerLink="/cart" [ngClass]="{'active': itemsInCart}">
          <span *ngIf="itemsInCart">{{itemsInCart}}</span>
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          &nbsp;Cart
        </a>
      </li>

      <!--Once logged in-->
      <ng-container *ngIf="statusAuth">
        <li class="nav-item">
          <a routerLink="/my-profile">My Profile</a>
        </li>
        <li class="nav-item" *ngIf="authService.isAdministrator.value">
          <a routerLink="/users">Users</a>
        </li>
        <li class="nav-item">
          <a routerLink="/orders">Orders</a>
        </li>
      </ng-container>
    </ul>
  </nav>
</div>
