@import '../../../../styles/index'

app-user-menu:host
  @include flex-row(1)
  align-items: flex-end
  justify-content: flex-end

.user-menu
  ul.navbar-nav
    @include flex-row(1)
    flex-direction: row-reverse

    li
      padding: 0 3px
      display: flex

      a
        display: inline-block
        @extend .btn
        @extend .btn-outline-primary

        &:hover, &.active
          color: $black
