<div class="home-page page">
  <app-header></app-header>

  <div class="container">
    <h2>Welcome!</h2>
    <p>Please select the category from the menu.</p>
    <!--<app-banner></app-banner>-->
    <!--<app-newest-items></app-newest-items>-->
  </div>

  <app-footer></app-footer>
</div>


