<div class="registration">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

    <div class="alert" *ngIf="formAlert.message" [ngClass]="formAlert.getClassName()">{{formAlert.message}}</div>

    <div class="form-group">
      <label for="registration-email">Email</label>
      <input type="email" id="registration-email" class="form-control" formControlName="username" placeholder="your@email.com">
    </div>

    <div class="form-group">
      <label for="registration-name">Name</label>
      <input type="text" id="registration-name" class="form-control" formControlName="name" placeholder="Full Name">
    </div>

    <div class="form-group">
      <label for="registration-password">Password</label>
      <input type="password" id="registration-password" class="form-control" formControlName="password" placeholder="at least 6 symbols">
    </div>

    <div class="form-group">
      <label for="registration-repassword">Re-Password</label>
      <input type="password" id="registration-repassword" class="form-control" formControlName="repassword" placeholder="******">
    </div>

    <div class="form-group">
      <div id="recaptcha"></div>
    </div>

    <div class="options">
      <input class="btn btn-success btn-block btn-lg" type="submit" value="{{(formAlert.loading) ? 'loading...' : 'Register'}}">
    </div>
  </form>
</div>
