<div class="edit-product page">
  <app-header></app-header>

  <div class="container">
    <h2>Edit Product</h2>
    <app-edit-product [product]="product" [category]="category"></app-edit-product>
  </div>

  <app-footer></app-footer>
</div>
