@import '../../../styles/index'

.footer
  position: absolute
  bottom: 0
  //left: 0
  //right: 0
  width: 100%

  //height: 60px
  //line-height: 60px

  .container
    background: $footer-color
    padding: 10px 20px
    @include flex-row(1)
    color: $gray-500

    .left-side
      display: flex
      flex: 0 0 auto

    .right-side
      display: flex
      flex: 1 1 auto
      justify-content: flex-end

      ul
        @include no-spacing()
        list-style: none

        @include flex-row(1)
