<footer class="footer">
  <div class="container">
    <div class="left-side">
      <div class="copy-right">&copy; 2017 Roman Axelrod</div>
    </div>

    <div class="right-side">
      <div class="payments">
        <ul>
          <li>
            <!--TODO: Uncomment-->
            <!--<img src="/assets/paypal.png" alt="">-->
          </li>
        </ul>
      </div>
    </div>

  </div>
</footer>
